* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    font-family: Sen, sans-serif;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

li {
    display: inline-block;
}

a {
    text-decoration: none !important;
}

button,
input,
textarea {
    border: none;
    outline: none;
}